<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.customer.dao.ICustomerRepository">

	<select id="getCustomer" parameterType="hashMap" resultType="com.example.myapp.customer.model.Customer">
		SELECT
			CUSTOMER_ID as custId
			, ROLE
			, NAME
			, EMPLOYEE_NUMBER as employeeNumber
			, PASSWORD
			, POINT
		FROM customer
		WHERE 
			EMPLOYEE_NUMBER = #{employeeNumber}
			AND PASSWORD = #{password}
	</select>
	
	<insert id="signUpCustomer" parameterType="com.example.myapp.customer.model.Customer">
		INSERT INTO customer 
			(
				CUSTOMER_ID
				, ROLE
				, NAME
				, EMPLOYEE_NUMBER
				, PASSWORD
				, POINT
			)
		VALUES 
			(	
				 CUSTOMER_SEQ.NEXTVAL
				, 'ROLE_USER'
				, #{name}
				, #{employeeNumber}
				, #{password}
				, '100000'
			)
	</insert>


</mapper>